* {
  padding: 0;
  margin: 0;
}


.verstopt {
  display: none !important;
}

body {
  background-color: var(--White);
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100vh;
}

#login-signup, #login, #signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 100vh;
}

/* account scherm */
#account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

#account button {
  margin-top: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.info p {
  padding-bottom: 0.2rem;
}

/* gekregen css */
/* #addTodoListDiv {
  margin-left: 2em;
  margin-top: 4em;
}

#root {
  margin: 1em;
  display: flex;
  min-width: 1200px;
}

.todoList {
  border-radius: 4px;
  min-height: 100px;
  background: rgb(235, 235, 235);
  padding: 0.7em;
  margin: 1em 0 1em 1em;

  float: left;
  min-width: 300px;

  overflow: scroll;
  height: 80vh;
}

.menuContainer {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu {
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;

  margin: auto;

  padding: 1em;
  border-radius: 4px;

}

.comment {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
} */

