* {
  padding: 0;
  margin: 0;
}

body {
  /*background-color: rgb(30, 30, 95);*/
  background-color: rgb(43, 43, 83);
  font-family: "Open Sans", sans-serif;
}

#addTodoListDiv {
  margin-left: 2em;
  margin-top: 4em;
}

#root {
  margin: 1em;
  /*border: 1px solid grey;*/
  display: flex;
  min-width: 1200px;
}

.todoList {
  /*border: 1px solid red;*/
  border-radius: 4px;
  min-height: 100px;
  background: rgb(235, 235, 235);
  padding: 0.7em;
  margin: 1em 0 1em 1em;

  float: left;
  min-width: 300px;

  overflow: scroll;
  height: 80vh;
}

.menuContainer {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu {
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;

  margin: auto;

  padding: 1em;
  border-radius: 4px;

}

.comment {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
}

.verstopt {
  display: none !important;
}