  .premiereBtn {
    background-color: var(--Purple);
    color: var(--White);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    border: none;
    border-radius: 0.3rem;
  }

  .secondaireBtn {
    background-color: var(--White);
    color: var(--Purple);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    border: .0625rem solid var(--Purple);
    border-radius: 0.3rem;
  }

  .premiereBtn:active {
    transform: translateY(4px);
    padding: 0.5rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .secondaireBtn:active {
    transform: translateY(4px);
    padding: 0.5rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }


  .tertaireBtn {
    color: var(--Purple);
    background-color: var(--White);
    border: none;
    font-size: 1rem;
  }

  /* begin scherm */
  #login-signup .premiereBtn {
    padding: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.1rem;
  }


  /* Gekregen css */

  #addTodoListDiv button {
    margin-left: 0.5em;
  }

  #to-do-list-button {
    margin-left: 0.5em;
  }

  .card button {
    visibility: hidden;
    height: max-content;

    background: none;
    border: none;
    padding: 0.3em;

  }

  .card:hover button {
    visibility: visible;
  }

  .card button:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-save {
    background-color: #5aac44;
    color: white;
    border: none;
    border-radius: 4px;

    padding: 0.5em;
    margin-top: 0.5em;
  }